@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";

.formulario {
    width: 100%;

}

.campo {

    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label{
        flex: 0 0 10rem
    }

    input{
        flex: 1;
        border: none;
        border-radius: 5px;
        padding: calc(v.$separacion / 4);

        &:disabled{
            background-color: color.adjust(v.$negro, $lightness: 80%);
            color: v.$negro;
            opacity: 1;
            cursor: not-allowed;
        }
    }
}